:root {
  --color-primary: #888;
  --color-secondary: #737373;
  --default-font-size: 1rem;
  --color-tertiary: #1877f2;
  --color-quaternary: #ffffff;
  --color-sky-blue: #87ceeb;
  --color-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--default-font-size);
  color: var(--color-default-text);
  font-weight: 400;
  line-height: 1.5;
}

.container-fluid {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
